.clearBoth { clear: both; }




.mainDiv { margin: 0 auto; width: 1270px; } 

/*********** HEADER ***************/
.mainDiv .header { margin: 0; height: 120px; width: 100%; } 
.mainDiv .header .headerTop { margin: 0; height: 64px; width: 100%;}
.mainDiv .header .headerTop .headerTopLeft { margin: 0; width: 300px; float: left; }
.mainDiv .header .headerTop .headerTopCenter { margin: 0; width: 650px; float: left;}
.mainDiv .header .headerTop .headerTopRight { margin: 20px 0 0 0; width: 320px; float: right; }
.mainDiv .header .headerBottom { margin: 0; height: 56px; background: #1D24AA; width: 100%; justify-content: center; align-items: center;}

.secLogo { 
    background: url('../images/secLogo.png') no-repeat; 
    padding-left: 58px; padding-top: 15px; height: 46px; 
    font-family: 'Quicksand', sans-serif; color: #1D24AA;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
 }

.search-bar {
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin: 6px 90px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 50px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: black;
}

.mainDiv .header .headerTop .headerTopCenter .magnifier-icon {
    position: absolute;
    background: url("../images/magnifierIcon.png");
    margin-left: 100px;
    margin-top: 16px;
    width: 18px;
    height: 18px;
    float: left;
    text-indent: -9999px;
}

 .headerIconList { margin: 0; float: left; width: 50%; }
 .headerIconList .likeIcon a { float: left; background: url("../images/likeIcon.png"); width: 24px; height: 22px; text-indent: -9999px; }
 .headerIconList .likeIcon a:hover, .headerIconList .notificationIcon a:hover, .headerIconList .basketIcon a:hover { opacity: 0.5; }
 .headerIconList .notificationIcon a { float: left; background: url("../images/NotificationIcon.png"); width: 21px; height: 24px; text-indent: -9999px; margin:0 0 0 15px; }
 .headerIconList .basketIcon a {  float: left; background: url("../images/BasketIcon.png"); width: 20px; height: 22px; text-indent: -9999px; margin:0 0 0 15px; }
 .headerManagement { margin-top: -10px; float: right; width: 50%; }

 .headerIconList .likeIcon a, 
 .headerIconList .notificationIcon a, 
 .headerIconList .basketIcon a {
    margin-right: 17px;
 }
 
.bottomIconList {
    margin: 0;
    width: 100%;
    float: left;
    height: 21px;
    text-align: justify;
}

.mainDiv .header .headerTop .headerTopRight .headerManagement .leftComponent {
    float: left;
    width: 48%;
    height: 40px;
    padding-top: 4px;
}

.mainDiv .header .headerTop .headerTopRight .headerManagement .leftComponent .username {
    float: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;  
    
}

.mainDiv .header .headerTop .headerTopRight .headerManagement .leftComponent .location {
    float: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px; 
    color: #666666;
}

.mainDiv .header .headerTop .headerTopRight .headerManagement .abbreviation {
    float: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;

    background: #F1F0F5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.bottomIconList .processIcon,
.bottomIconList .productIcon,
.bottomIconList .stockIcon,
.bottomIconList .returnIcon,
.bottomIconList .announcementIcon,
.bottomIconList .activityIcon,
.bottomIconList .supportIcon,
.bottomIconList .reportsIcon {
    float: left;
    margin-right: 23px;
    margin-left: 8px;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 10px;
    width: auto;
    height: 40px;
    border: transparent;
    border-radius: 5px;
    margin-top: 8px;
    box-sizing: border-box;
}

.bottomIconList .reportsIcon {margin-right: -20px;}

.bottomIconList .processIcon a,
.bottomIconList .productIcon a,
.bottomIconList .stockIcon a,
.bottomIconList .returnIcon a,
.bottomIconList .announcementIcon a,
.bottomIconList .activityIcon a,
.bottomIconList .supportIcon a,
.bottomIconList .reportsIcon a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #EEEFFC;
    vertical-align: top;
} 

.bottomIconList .processIcon:hover,
.bottomIconList .productIcon:hover,
.bottomIconList .stockIcon:hover,
.bottomIconList .returnIcon:hover,
.bottomIconList .announcementIcon:hover,
.bottomIconList .activityIcon:hover,
.bottomIconList .supportIcon:hover,
.bottomIconList .reportsIcon:hover {
    background-color: #2E36DC;
} 

.bottomIconList .processIcon img,
.bottomIconList .productIcon img,
.bottomIconList .stockIcon img,
.bottomIconList .returnIcon img,
.bottomIconList .announcementIcon img,
.bottomIconList .activityIcon img,
.bottomIconList .supportIcon img,
.bottomIconList .reportsIcon img {
    margin-right: 5px;
    width: 18px;
    height: auto;
}

.mainDiv .content { margin: 0; min-height: 600px; width: 100%;  } 
.mainDiv .footer { margin: 0; height: 600px; width: 100%; } 