.clearBoth {
    clear: both;
}

a {
    text-decoration: none;
}

body,
html {
    font-family: 'Quicksand', sans-serif;
}


/*********** HEADER ***************/

header {
    margin: 0;
    background: url("../images/headerBg.png") repeat-x;
    width: 100%;
    height: 120px;
}

header .container {
    width: 1096px;
}

.headerTop {
    height: 64px;
}

.headerBottom {
    height: 54px;
}

.secLogo a {
    background: url('../images/secLogo.png') no-repeat;
    padding-left: 58px;
    padding-top: 14px;
    height: 46px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-top: 10px;
    display: block;
    color: #1D24AA;
}

.location {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    color: #666;
}

.search {
    margin: 5px 0 0 0;
}

button.search {
    background: url("../images/magnifierIcon.png") no-repeat center;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
    border: none;
    position: relative;
    z-index: 1000;
}

input.search {
    padding-left: 50px;
    margin-left: -50px;
    width: 90%;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    color: #2A2A2A;
}

input.search:focus {
    border-color: #1D24AA;
    box-shadow: none;
    outline: 0 none;
}

input.search:hover {
    border-color: #ccc;
}

.headerIcon {
    float: left;
    text-indent: -9999px;
    margin: 20px 0 0 30px;
}

.likeIcon a {
    background: url("../images/likeIcon.png");
    width: 24px;
    height: 22px;
    display: block;
}

.notificationIcon a {
    background: url("../images/NotificationIcon.png");
    width: 21px;
    height: 24px;
    display: block;
}

.basketIcon a {
    background: url("../images/BasketIcon.png");
    width: 20px;
    height: 22px;
    display: block;
}

.basketIcon a .basketCount {
    text-indent: 0px;
    background: #1D24AA;
    border-radius: 20px;
    height: 19px;
    width: 19px;
    position: absolute;
    margin: -33px 0 0 14px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.likeIcon a:hover,
.notificationIcon a:hover,
.basketIcon a:hover {
    opacity: 0.5;
}

.userManagement {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.userManagement .shortName {
    background: #F1F0F5;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.userManagement .userInfo {
    font-size: 14px;
    color: #2A2A2A;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}

.userManagement .userInfo span {
    font-weight: normal;
}

header .nav-link {
    color: #F5F5F5;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    background-size: contain;
}

header .nav-link .transactions {
    background: url('../images/processIcon.png') no-repeat 0 0px;
    padding-left: 30px !important;
}

header .nav-link .productAndPrice {
    background: url('../images/analyticsIcon.png') no-repeat 0 0px;
    padding-left: 30px !important;
    background-size: 20px;
}

header .nav-link .shop {
    background: url('../images/stocks-icon.png ') no-repeat 0 0px;
    padding-left: 30px !important;
}

header .nav-link .refunds {
    background: url('../images/shoppingIcon.png') no-repeat 0 0px;
    padding-left: 30px !important;
}

header .nav-link .announcements {
    background: url('../images/duyurular.png') no-repeat 0 0px;
    padding-left: 30px !important;
    background-size: 20px;
}

header .nav-link .activites {
    background: url('../images/activityIcon.png') no-repeat 0 0px;
    padding-left: 30px !important;
}

header .nav-link .supportAndReport {
    background: url('../images/graphicsIcon.png') no-repeat 0 0px;
    padding-left: 30px !important;
}

header .navbar-nav {
    flex: 1;
}

.nav-link:focus,
.nav-link:hover,
.nav-link.active {
    background: #2E36DC;
    border-radius: 5px;
    color: #F5F5F5;
}


/*********** END HEADER ***************/

.content {
    margin: 0;
    min-height: 500px;
}

.jumbotron-area {
    display: flex;
    margin: 0px auto 111px auto;
    width: 1096px;
    justify-content: space-between;
}

.ülker-chocolatte-img {
    background-image: url(../images/ülker-chocolatte\ 1.png);
    background-position: 40px 0px;
    background-repeat: no-repeat;
    margin-top: 41px;
}

.discover-content {
    margin: 0;
    flex-basis: 65%;
    height: 400px;
    background: #EFFBFA;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 17px;
    box-sizing: border-box;
}

.discover-content-area {
    background-image: url(../images/ülker-logo.png);
    background-position: 12px 50px;
    background-repeat: no-repeat;
    padding-top: 78px;
}

.discover-text {
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

.discover-button {
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 30px;
    color: #1D24AA;
    border-color: #1D24AA;
    padding: 15px;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    margin-top: 40px;
}

.discover-header {
    font-family: Quicksand;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Quicksand;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
}

.discover-footer {
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #858585;
    margin-top: 10px;
}

.jumbo-announcements {
    flex-basis: 33%;
    height: 400px;
    background: #EFFBFA;
    border-radius: 5px;
    overflow: scroll;
    padding-left: 16px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 13px;
}

.announcements-header {
    display: flex;
    align-items: center;
}

.announcements-header-text {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 8px;
}

.announcement {
    margin-top: 30px;
    width: 350px;
    height: auto;
}

.announcement-header {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A2A;
}

.announcement-date {
    color: #1D24AA;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.announcement-text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.announcement-content {
    margin: 25px 10px;
}

.options,
.chosen-for-you,
.discount-items-content,
.top-seller-content {
    width: 1096px;
    margin: 0px auto 50px auto;
    padding: 0;
}

.options .col-3 {
    padding-right: 0px;
}

.options-bottom-mg {
    margin-bottom: 145px;
}

.options .col-3 ul {
    height: 168px;
    margin: 0px auto 50px auto;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.options .col-3 li {
    padding-left: 70px;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
}

.options .col-3 li a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #889688;
}

.options-lh-lg li {
    line-height: 29px;
}

.options-title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #0A0B0A;
}

.options .col-3 li .see-all {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0A0B0A;
}

.milk-img {
    top: 0;
    background: url("../images/strawberry-milk.png") no-repeat top left;
}

.kosla-img {
    background: url("../images/kosla.png") no-repeat;
}

.pasta-img {
    background: url("../images/pasta.png") no-repeat;
}

.baby-whipers-img {
    background: url("../images/baby-whipers.png") no-repeat;
}

.gillette-img {
    background: url("../images/gillette.png") no-repeat;
}

.meatball-img {
    background: url("../images/meatball.png") no-repeat;
}

.pepsi-img {
    background: url("../images/pepsi.png") no-repeat;
}

.greyfruit-img {
    background: url("../images/greyfruit.png") no-repeat;
}

.chosen-for-you,
.discount-content,
.top-seller-content {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    display: flex;
}

.for-you-header {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    align-items: flex-start;
}

.see-all-alternative {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: flex-end;
    color: #2a2a2a;
    text-decoration-line: underline;
    margin-left: auto;
}

.chosen-for-you-content {
    width: 1270px;
}

.chosen-for-you-img {
    width: 16%;
    padding: 0;
}

.discount-header {
    font-family: Quicksand;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
}

.discount-item {
    height: 300px;
    flex-basis: 19.9%;
}

.discount-items-content {
    display: flex;
}

.discount-content {
    width: 1096px;
    margin: 0px auto 15px auto;
    padding: 0;
}

.greyfruit-discount {
    background-image: url(../images/greyfruit-discount.png);
}

.petit-beurre-discount {
    background-image: url(../images/petit-beurre.png);
}

.coca-cola-light-discount {
    background-image: url(../images/coca-cola-light.png);
}

.tadım-classic-discount {
    background-image: url(../images/tadım-classic.png);
}

.yogurt-discount {
    background-image: url(../images/yogurt.png);
}

.senpilic-discount {
    background-image: url(../images/senpilic.png);
}

.turkish-coffee-discount {
    background-image: url(../images/turkish-coffee.png);
}

.perwoll-discount {
    background-image: url(../images/perwoll.png);
}

.ülker-choco-discount {
    background-size: 180px;
    background-image: url(../images/ülker-chocolatte\ 1.png);
}

.arzum-discount {
    background-image: url(../images/arzum.png);
}

.duracell-discount {
    background-image: url(../images/duracell.png);
    background-size: 150px;
}

.avocado-discount {
    background-image: url(../images/avocado.png);
    background-size: 150px;
}

.dogus-tea-discount {
    background-image: url(../images/dogus-tea.png);
    background-size: 150px;
}

.trash-bag-discount {
    background-image: url(../images/trash-bag.png);
    background-size: 150px;
}

.charge-cable-discount {
    background-image: url(../images/charge-cable.png);
    background-size: 150px;
}

.discount-img {
    position: relative;
    background-repeat: no-repeat;
    border: 1px solid #EAECEA;
    box-sizing: border-box;
    background-position: center center;
    height: 270px;
}

.discount-item-name {
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D201D;
}

.discount-item-price {
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D24AA;
}

.discount-amount {
    position: absolute;
    padding: 5px;
    right: 10px;
    top: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    /* B-Mockup/5 */
    color: #F4F5F4;
    background: #1D24AA;
    border-radius: 5px;
}

.price-down-text {
    position: absolute;
    padding: 5px;
    top: 40px;
    right: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2EC4B6;
    background: #EFFBFA;
}

.new-item {
    position: absolute;
    right: 10px;
    top: 14px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F5F5F5;
    background: #1D24AA;
    border-radius: 5px;
    padding: 5px 18px;
}

.discount-container {
    flex-basis: 32%;
    height: 160px;
}

.unmissable-chances {
    background-color: #FFFED6;
    background-image: url(../images/perwoll2.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 140px 140px;
}

.friday-special {
    background: #FDEEED;
    background-image: url(../images/cerez.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 226px 125px;
}

.pandemic-special {
    background: #EEEFFC;
    background-image: url(../images/pandemic-special-img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px 115px;
}

.discount-text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #0A0B0A;
}


/*********** FOOTER ***************/

footer {
    margin: 0;
    background: url("../images/footer-bg.png") repeat-x;
    width: 100%;
    height: 735px;
}

footer .container {
    width: 1096px;
}

footer .footerTop {
    width: 100%;
    height: 75px;
}

footer .footerTop .footerNotification {
    background: url("../images/hands.png") no-repeat;
    background-position: 0% 50%;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    padding-left: 30px;
    color: #fff;
    height: 45px;
    padding-top: 5px;
    margin-top: 12px;
}

footer .footerTop .footerButtonMain {
    width: 189px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 13px;
    padding: 12px 25px;
}

footer .footerTop .footerButtonMain .footerButton {
    font-size: 14px;
    color: #1D24AA;
    background: url("../images/arrow.jpg") no-repeat right;
    margin: 0;
    background-position: right;
    background-size: 15px;
    display: block;
}

span.bold {
    font-weight: bold;
}

.displayFlex {
    display: flex;
}

footer .footerContent {
    margin: 0;
    height: 600px;
    padding-top: 50px;
}

footer .footerContent .fCategory {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

footer .footerContent .fCategory .fCatTitle {
    margin: 0;
    text-transform: uppercase;
    color: #1D24AA;
}

footer .footerContent .fCategory .fCatList {
    margin: 10px 0 0 0;
}

footer .footerContent .fCategory .fCatList ul {
    list-style: none;
    display: block;
    padding-left: 0px;
}

footer .footerContent .fCategory .fCatList ul li a {
    color: #454545;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 7px;
    display: block;
}

#extra-space li {
    margin-bottom: 20px;
}

footer .footerContent .fCategory .fCatList ul li a:hover {
    color: #1D24AA;
    text-decoration: underline;
}

footer .footerBottom {
    width: 100%;
    height: 60px;
    padding-top: 5px;
}

footer .footerBottom .footerLogo {
    background: url("../images/secLogoFooter.png") no-repeat;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    display: block;
    margin-top: 7px;
}

footer .footerBottom .footerCopyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #000000;
    margin-top: 14px;
    text-align: right;
}

span.blue {
    color: #1D24AA;
}


/*********** END FOOTER ***************/